/*fonts to using*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,600&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    transition: .3s ease;
    background: rgb(224, 227, 219);
}

/* styling and sizing the project*/

:root{
    --yellowcolor: #e1f296;
    --lightGreenColor: #5aba8a;
    --darkGreenColor: #01565b;
    --textColor: #044561;
    --h1Color: #012e33;
    --cardColor: #4c9fa7;
    --whiteColor: hsl(0,0%,100%);
    --greyText: rgb(190,190,190);
    --inputColor: hsl(224,39%,80%);

/* font and typography*/

    --h1FontSize: 2.5rem;
    --h2FontSize: 1.25rem;
    --normalFontSize: 1rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;

}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.icon{
    font-size: var(--h2FontSize);
}

img{
    width: 100%;
    height: auto;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--darkGreenColor);
    padding: .8rem 1rem;
    font-weight: 600;
    color: var(--textColor);
}

.btn .icon{
    margin-left: .5rem;
}

.btn:hover{
    background: palegreen;
    color: var(--darkGreenColor);
}

/* default body styling*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}


.container{
    position: relative;
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 1rem;
    overflow: hidden;
}